src/main/mule/mule-ftp-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="20d3bb9d-147e-47c3-89ca-75d4c253fb19" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="mule-ftp-pocFlow" doc:id="84c31a7e-f0b2-4339-919c-5fa8522756c8" >
		<http:listener doc:name="Listener" doc:id="e0174e7c-337f-4e97-a685-ad9f7de5dd24" config-ref="HTTP_Listener_config" path="/greet/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="84b7961c-5a9b-4c9b-b802-3ced8811ecca" message="#['\n'] executing the flow : #[flow.name ++ &quot; for the user &quot; ++ attributes.queryParams.name ++ &quot; from &quot; ++ attributes.uriParams.city]"/>
		<ee:transform doc:name="Transform Message" doc:id="fc342e4a-16b9-4905-afe3-a5885c29cbc5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Hello " ++ (attributes.queryParams.name default "" )++ ", Good Day!!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
